boost_*.tar.gz
**/.idea/
bindings/python-bindings-generator/target/*.idl
bindings/python-bindings-generator/src/*.h
bindings/python-bindings-generator/**/*.pyc
lib/
bindings/python-bindings-generator/bin/libclang.so
*.pkl
*.out
spring-104.0.1/spring-build-graph.*
spring-104.0.1/spring-dedicated.js
spring-104.0.1/spring-dedicated.js.mem
spring-104.0.1/spring-dedicated2.js.mem
spring-104.0.1/spring-dedicated2.js
spring-104.0.1/rts/lib/streflop/CMakeFiles/streflop.dir/